 @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
      
      @media only screen and (max-width: 768px) {
    .main-amm,
    .site .widget {
        padding: 5px;
    }
        
         .countdown-text {
            font-size: 11px!important;
        }
        
         #result-now {
            font-size: 11px!important;
        }
        
        
}

      .match-timing {
    margin-top: 14px!important;
   margin: 0 0; 
    color: #444;
}
      
      
      .post-body img {
     margin-bottom: 0px;
}
      
        .match-event {
            padding-top: 10px;
        }

        #result-now {
            font-size: 14px;
            letter-spacing: 1px;
            color: #fff;
            margin-right: 0px;
        }

        .status-live,
        .status-ended,
        .status-soon,
        .status-not-started {
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        .status-live {
            background-color: red;
            animation: pulse 1s ease-in-out infinite; /* Add animation here */
        }

        .status-ended {
            background-color: #444;
        }

        .status-soon {
            background-color: #0f6f37;
        }

        .status-not-started {
            background-color: #263545;
        }

        .countdown-container {
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 25px;
            color: white;
        }

        .countdown-text {
            font-size: 14px;
        }

        .countdown-container.active {
            background-color: red;
        }
      
      
      
      
      
      .containerr {
        width: auto;
        padding: 40px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .labell {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
    }

    .symboll {
        font-size: 48px;
        color: red;
        margin-bottom: 20px;
    }

    .disclaimerr {
        font-size: 14px;
        color: #666;
    }
      
      
           .post-amp .entry-title.topic-title {
    padding-left: 20px;
             padding-right: 20px;
}
  
      .post-meta {
    padding-left: 20px;
}
